#about {
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

#p {
  width: 400px;
  line-height: 30px;
}

.list {
  margin-bottom: 30px;
}

.heads {
  margin-bottom: 30px;
}
