footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  justify-content: center;
  align-content: center;
  row-gap: 20px;
}

#githubLink {
  font-size: 17px;
  text-decoration: none;
}

#githubLink:visited {
  color: white;
}

.listHeading {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: left;
}

.footerUnorderedList {
  justify-items: center;
}

.footerListItem {
  text-align: left;
  margin-bottom: 15px;
  cursor: pointer;
}

.footerLinks:hover {
  color: #5e9460;
}

#githubLink:hover {
  color: #5e9460;
}

#lastFooterElement {
  grid-column: span 3;
  justify-self: center;
  margin-bottom: 20px;
}

.footerLinks {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 500px) {
  .listHeading {
    font-size: 0.9em;
  }

  .footerLinks,
  .footerListItem,
  #githubLink {
    font-size: 0.7rem;
  }

  #lastFooterElement {
    font-size: 0.5em;
  }
}
