#landingPageText {
  font-size: 6rem;
  text-align: center;
  margin: 0;
  line-height: 120px;
  font-weight: bold;
}

#easyText {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: #5e9460;
  text-underline-offset: 25px;
}

#getStartedContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 54px;
  margin-top: 150px;
  margin-bottom: 150px;
}

#getStartedText {
  text-decoration: underline;
  font-size: 20px;
  text-decoration-color: #5e9460;
  text-underline-offset: 8px;
  margin: 0px;
}

#getStarted {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 25px;
}

#getStartedLink {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 500px) {
  #landingPageText {
    font-size: 3rem;
    line-height: 80px;
    padding: 10px;
    width: 70vw;
  }

  #getStarted {
    gap: 20px;
  }

  #getStartedText {
    font-size: 1rem;
  }

  #getStartedContainer {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

@media screen and (min-width: 800px) {
}
