#messagesGrid {
  display: grid;
  grid-template-columns: max-content auto;
}

.msgs {
  background-color: lightcoral;
}

#usersUl {
  background-color: #628863;
  margin: 0;
  padding: 0;
}

.usersContainer {
  color: black;
  display: flex;
  margin-bottom: 0.5em;
  background-color: white;
  padding: 0.5em;
  border-radius: 5px;
}

.profilePicture {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 0.5em;
}

@media screen and (max-width: 500px) {
  .profilePicture {
    height: 0.8rem;
    width: 0.8rem;
  }

  .users {
    font-size: 0.5rem;
  }

  .usersContainer {
    padding: 0.2em;
  }
}
